h1 {
    color: #575F7D;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

p {
    color:#575F7D
}
body {
    background-color: rgb(201, 201, 206);
    color: #2a49bb;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #f7ecee;
    font-weight: 600;
    font-size: 16px;
}

h2 {
    color: hsl(227, 18%, 42%);
}

ul {
    color: #E86D7C;
    padding: 0px;
}

.container {
    width: 1000px;
    margin: 0 auto;
  }

.card {
    border: solid black;
    padding: 50px;
    margin: 40px;
    border-radius: 5px;
    background: linear-gradient(to bottom right, white, rgb(182, 179, 179));
    text-align: center;
}

li{
    display: inline-block;
    letter-spacing: 25px;
  }

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }

  a.bouton {
    padding: 15px 40px;
    background: #c7152a;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
  }

  .profil {
      background-image: url("images/WIN_20200729_16_12_49_Pro.jpg");
      background-size: cover;
      background-position: top;
      border-radius: 50%;
      height: 250px;
      width: 250px;
      margin: auto;
  }
