// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner {
  width: 100%;
  height: 25vh;
  border-radius: 5px;
  position: relative;
}

.logo {
  width: 50px;
  height: 50px;
}

.photo {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  position: absolute;
  bottom: 20px;
  left: -50px;
}

.container-list {
  .li {
    display: flex;
  }
}


.dev {
  width: 25h;
  height: 20vh;
}

